{% extends 'base.html' %}
{% block content %}
            <h1 class="text-center text-md-left font-weight-lighter p-0 mt-2">Current Account Holdings</h1>
<p> Here are all the accounts that are contributing to your budget.  You may add an accont at anytime.  It is recommended you add an account with today's balance so there are no adverse effects to your budget/spend history.</p>



<table class="table table-striped table-bordered bg-white">
<thead>
<tr>
<th scope="col">Account Name</th>
<th scope="col">Balance Date as of</th>
<th scope="col">Balance Amount</th>
</thead>
<tbody>
{% if latest_account %}
    {% for account in  latest_account  %}
        <tr>
        <td>
           <a href="/accounthistory/accountfilter?account={{account.account__id}}">{{account.account__account_name}}</a></td>
        <td>{{account.balance_date| date:'F d Y'}}</td>
        <td>{% if account.balance > 0 %} 
                <div class="text-success">${{ account.balance|floatformat:2|cut:"-"}}
               </div>
            {% else %}   
              <div class="text-danger">${{ account.balance|floatformat:2|cut:"-"}}
               </div>
            {% endif%}   
        </td>
    {% endfor %}
{% else %}
    Nothing available
{% endif %}
</tbody>
</table>
<p><strong>Current cash in-hand: $</strong>{{total_cash|floatformat:2 }}</p>
<p>Red indicates negative balance.  Generally loans and credit cards show negative balance </p>
</div>
</div>
</div>

{% endblock %}