{% extends 'base.html' %}
{% block content %}
<div class="container">
      <div class="row justify-content-center">
        <div class="col-8">
          <h1 class="mt-2">Account List</h1>
<p> Here are some Accounts</p>



<table class="table table-striped table-bordered">
<thead>
<tr>
<th scope="col">Account Name</th>
<th scope="col">Balance Date as of</th>
<th scope="col">Balance Amount</th>
</thead>
<tbody>
{% if transaction_dates %}
    {% for tdate in  transaction_dates  %}
        <tr>
        <td>{{tdate.trans_date}}</td>
        <td>{{account.balance_date| date:'F d Y'}}</td>
        <td>${{ account.balance|floatformat:2 }}</td>
    {% endfor %}
{% else %}
    Nothing available
{% endif %}
</tbody>
</table>
<p><strong>Current cash in-hand: $</strong>{{total_cash|floatformat:2 }}</p>
<p>Note: Negative balance means money is owing.  Generally loans and credit cards have a negative balance </p>
</div>
</div>
</div>

{% endblock %}