{% extends 'base.html' %}

{% load crispy_forms_tags %}



{% block content %}
<style>
.my-container{
  border: 5px solid red;
  }
</style>
<h1 class="text-center font-weight-lighter p-0 mt-2 ">Add a Budget</h1>

   <div class=" d-flex justify-content-center">
       <form method="post" class=" border p-2 bg-white font-weight-lighter">
    {% csrf_token %}
    {{ form|crispy }}
    <div class="mt-2"></div>
    <div class="d-flex justify-content-center">
    <div id="average_budget" class="text-center my-container"> &nbsp;</div>
  </div>
    <div class="mt-2"></div>

    <button type="submit" class="btn btn-primary">Submit</button>

  </form>
  <div class="mt-3"></div>

</div>

 
{% block javascript %}
  	<script>
      var category = 0;
      var thedate = 0;
       $('#id_date').on('dp.change', function(e){ 
         thedate = $(this).val();
       });

  /*  $("#id_category").change(function()  {
     category = $(this).val();
       
      $.ajax({
        url: '/budgettracker/get_cat_budget/',
        data: {
          'category': category,
          'thedate': thedate
        },
        dataType: 'json',
        success: function (data) {
          console.log(data)
          if (data.data.budget_amount) {
            $("#last_month_budget").append("<p>Last month's budget was $"+data.data.budget_amount+"</p>")
          }
        }
      });

    });*/

     
      $('#id_category').change(function(){
       var category = $(this).find('option:selected').text();
       var date = $('#id_date').val();
       $.ajax({
         url: 'ajax/get_budget_average',
         data:{
           'category': category,
           'date': date
         },
         dataType:'json',
         success: function (data){
         var averagespend =  (data['category_average_spend']['monthly_spend__avg']);
         var averagebudget = (data['category_average_budget']['budget_amount__avg']);
         var budget_left = (data['budget_left']);
         console.log (budget_left);
         if (averagespend == null)
         {
           averagespend = 0
         }
         if (averagebudget == null)
         {
           averagebudget = 0
         }
         var avgspend = averagespend.toFixed(2);    
         var avgbudget = averagebudget.toFixed(2);   
         var bud_left = budget_left.toFixed(2);
         console.log (data) 
        //$('#average_budget').appendTo('<p class="text-primary"><strong><i>Budget left this month: $'+bud_left+'</i></strong></p>'+'<p>'+'Over the last 3 months you have spent $<strong>'+avgspend+ '</strong> on the '+ category + ' category. Your average budget over the last 3 months has been <strong>$' + avgbudget +'</strong>.</p>')
         $('#average_budget').append('<p class="text-primary"><strong><i>Budget left this month: $'+bud_left+'</i></strong></p>'+'<p>'+'Over the last 3 months you have spent $<strong>'+avgspend+ '</strong> on the '+ category + ' category. Your average budget over the last 3 months has been <strong>$' + avgbudget +'</strong>.</p>' )
       //$('<p class="text-primary"><strong><i>Budget left this month: $'+bud_left+'</i></strong></p>'+'<p>'+'Over the last 3 months you have spent $<strong>'+avgspend+ '</strong> on the '+ category + ' category. Your average budget over the last 3 months has been <strong>$' + avgbudget +'</strong>.</p>').appendTo('#average_budget')
      
         }
       });    
       });
  </script>

{% endblock %}
{% endblock %}