{% extends 'base.html' %}
{% block content %}
<div class="container-fluid">
      <div class="row justify-content-center">
        <div class="col-12">
          <h1 class="mt-2">Account List</h1>
<p> Here are some Accounts</p>


<table class="table table-striped table-bordered">
<thead>
<tr>
<th scope="col">Account Name</th>
<th scope="col">Store/Business</th>
<th scope="col">Transaction Category</th>
<th scope="col">Transaction Amount </th>
<th scope="col">Balance Date as of</th>
<th scope="col">Balance</th>
</thead>
<tbody>
{% if show_history %}
    {% for acct in  show_history  %}
        <tr>
        <td><strong>{{acct.account}}</strong></td>
        <td>{% if acct.transfer.incoming_account == acct.account %} Incoming transfer from: <strong>{{acct.transfer.outgoing_account}}</strong>
            {% elif acct.transfer.outgoing_account == acct.account %}Outgoing transfer to: <strong> {{acct.transfer.incoming_account}}</strong>
            {% else %}{{acct.transaction.store}}
            {% endif %}</td>
        <td>{% if acct.transfer.incoming_account == acct.account or acct.transfer.outgoing_account == acct.account %} <div class="text-warning">Transfer</div>
        {% else %}
        {{acct.transaction.category}}
        {% endif %}</td>
        <td>{% if   acct.account == acct.transfer.incoming_account %} <div class="text-success">${{ acct.transfer.transfer_amount }}</div>
            {% elif acct.account == acct.transfer.outgoing_account  %}  <div class="text-danger">${{ acct.transfer.transfer_amount|floatformat:2|cut:"-" }}</div>
            {% else %} ${{acct.transaction.amount|floatformat:2}}
            {% endif %}</td>
        <td>{{acct.date| date:'F d Y h:i A'}}</td>
        <td>{% if acct.balance > 0 %} <strong>{{ acct.balance | floatformat:2}}</strong>
            {% else %}
         <div class="text-danger"><strong>${{ acct.balance|floatformat:2 |cut:"-" }}</strong></div>
         {% endif %}
         </td>

    {% endfor %}
{% else %}
    Nothing available
{% endif %}
</tbody>
</table>
<p>Note: Negative balance means money is owing.  Generally loans and credit cards have a negative balance </p>
</div>
</div>
</div>

{% endblock %}