{% extends 'base.html' %}

{% load crispy_forms_tags %}
{% block title %}Confirm New Password{% endblock %}

{% block content %}
<div class="container-fluid">
      <div class="row justify-content-center">
        <div class="col-8">
          <h1 class="mt-2">{{acct_name}} Confirm New Password</h1>
    <form method="POST" class="form-group">
	{% csrf_token %}
	{{ form|crispy }}
	<button type="submit" class="btn btn-success">Reset your Password</button>
    </form>
 </div>  
 </div>
 </div> 
{% endblock %}