{% extends 'base.html' %}
{% block content %}
<h1 class="text-center text-md-left font-weight-lighter p-0 mt-2">Transactions for <span class="text-info"> {{transactions.0.category}}</span> </h1>


<div class="mt-2"></div>
<table class="table table-light bg-white table-bordered">
<thead>
<tr>
<th scope="col">Store</th>
<th scope="col">Description</th>
<th scope="col">Amount</th>
<th scope="col">Account</th>
<th scope="col">Date</th>

</thead>
<tbody>
{% if transactions %}
    {% for transaction in transactions %}
        <tr>
        <td>{{ transaction.store }}</td>
        <td>{{ transaction.description }}</td>
        <td>${{ transaction.amount | floatformat:2 }}</td>
        <td>{{ transaction.account_name }}</td>
        <td>{{ transaction.trans_date }}</td>
       </tr>
    {% endfor %}
{% else %}
    Nothing available
{% endif %}
</tbody>
</table>

<p><strong>Total category spend or income this month: $</strong>{{ total|floatformat:2 }}

{% endblock %}

